/* body {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

html {
  height: fill-available;
  height: -webkit-fill-available;
}

#__next {
  height: 100% !important;
} */

form {
  height: 100%;
}
